
.newsbox {
width: 75%;
background-color: #fff1da;
border: 1px solid #ffdca5;
padding-right: 20%;
padding-left: 5%;
padding-top: 5%;
padding-bottom: 5%;
}

p.newsitem {
font-size: 95%;
}

.newsheadline {

font-size: 125%;
font-weight: bold;
}

.newsdate {
padding-left: .5em;
font-weight: normal;
font-style: italic;
font-size: 110%;
}

.newsgo {
background-image: url("images/newsgo.png");
background-repeat: no-repeat;
background-position: center right;
}

.newsabi {
background-image: url("images/newsabi.png");
background-repeat: no-repeat;
background-position: center right;
}

