body {
background-color: #ffffff;
text-align: center;
font-family: "bitstream vera sans", arial, helvetica, sans;
font-size: .9em;
}

#pageblock {
width: 90%;
margin-left: 5%;
margin-right: 5%;
min-width: 640px;
}
#topbanner {
height: 100px;
background: #fff1da url("images/topgrad.png");
}


#releasebar{
text-align: center;
background-color: #fff1da;
border: 1px solid #ffdca5;
width: 100%;
}
#releasebar ul, #releasebar li{
display: inline;
list-style: none;
margin:.5em;
}
#gnomedbversionsul{
display: inline;
list-style:disc;
margin:.5em;
}

#midsection {
}

#bottombanner {
min-height: 100px;
background: #fff1da url("images/btmgrad.png");
}

#bottomright {
min-height: 100px;
background: url("images/br.png") no-repeat bottom right;
}

#navleft {
text-align: left;
font-size: 90%;
width: 14%;
min-width: 156px;
background-color: #ffdca5;
position: absolute;
margin-right:2%;
padding: 2%;
}

#contentright {
margin-top: 2%;
position:relative;
width: 74%;
min-width: 476px;
left: 26%;
text-align: left;
}


#downloadbox {
background-color: #c3c5ff;

width: 95%;
padding-right: 5%;
padding-top: 5%;
padding-bottom: 5%;
}

#downloadcontent {
padding-left: 256px;
text-align: left;
}





p.copy {
margin: 1em;
}

.generic {
font-size: 90%;
}

#legal {
padding: 2em;
font-size: 80%;
}

#catlist {
list-style: none;
margin-left: 0;
padding-left: 1em;
text-indent: 0em;
}
.catlist {
list-style: none;
margin-left: 0;
padding-left: 1em;
text-indent: 0em;
}

ul.sublist{
list-style: none;
margin-left: 0;
padding-left: 2em;
text-indent: -1em;
}

h1 {

}

h2 {

}

h3 {
padding-left: .5em;
font-weight: normal;
font-style: italic;
font-size: 110%;
}

h4 {
font-weight: bold;
text-align: center;
line-height: normal;
}

hr {
width: 90%;
}
