#topleft {
min-height: 100px;
background: url("images/go/tl.png") no-repeat top left;
}

#topright {
min-height: 100px;
background: url("images/go/tr.png") no-repeat top right;
}
#downloadbox {
background: #c3c5ff url("images/go/dllogo.png") no-repeat left center;
}